.button {
  background-color: $accent;
  color: $white;
  border: none;

  font-size: 12px;
  line-height: 15px;
  font-weight: 700;
  letter-spacing: 2px;

  text-align: center;
  text-transform: uppercase;

  padding: 30px;
  transition: 0.35s;

  &:hover {
    background-color: $accent-hover;
    transition: 0.35s;
  }
}
