.footer {
  display: flex;
  justify-content: space-evenly;
}

.footer-column {
  width: 33.3%;
  box-sizing: border-box;
}

.footer-column:not(:last-child) {
  border-right: 1px solid $border;
}

.footer-column__header {
  color: $links;
  font-size: 18px;
  line-height: 32px;
  font-weight: 600;
  margin-bottom: 23px;
}

.footer-column__list {
  @include list-reset;
}

.footer-column__directions {
  display: flex;
  justify-content: space-between;
  padding-right: 40px;
}

.footer-column__contact-list {
  @include list-reset;
}

.footer-column--contacts {
  padding-left: 90px;
}

.footer-column--corporate {
  padding-left: 49px;
}

.footer-column__text {
  font-size: 14px;
  line-height: 170%;
  color: $small-text;
}

.footer-column__list-item {
  padding-bottom: 10px;
  font-size: 14px;
  line-height: 17px;
}

.footer-column__list-link {
  @include link-reset;

  color: $small-text;
}
