.nav {
  display: flex;
  justify-content: space-between;
  padding-top: 37px;
  padding-bottom: 30px;
}

.nav__navigation {
  display: flex;
  padding-right: 17px;
}

.nav__logo {
  width: 58px;
  height: 22px;

  @media (max-width: $width-desktop) {
    width: 44px;
    height: 17px;
  }
}

.nav__menu {
  @include list-reset;
  display: flex;
}

.nav__link,
.nav__contacts {
  @include link-reset;

  color: $links;
  padding-left: 40px;
  font-size: 14px;
  font-weight: 500;

  &:hover {
    color: $accent;
  }

  @media (max-width: $width-desktop) {
    display: none;
  }
}

.nav__contacts {
  display: flex;
  padding-left: 53px;
  font-size: 18px;
  line-height: 32px;
  font-weight: 400;
  text-decoration: underline;
  color: $accent;

  @media (max-width: $width-desktop) {
    display: none;
  }
}

.nav__tel-icon {
  padding-right: 9px;
}
