.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 99px;
  max-width: $width-desktop-max;

  @media (max-width: $width-tablet-max) {
    min-height: 50px;
    position: relative;
    display: block;
  }
}

.nav__navigation {
  display: flex;
  padding-right: 17px;

  @media (max-width: $width-tablet-max) {
    padding-right: 0;
  }
}

.nav__logo {
  width: 58px;
  height: 22px;

  @media (max-width: $width-tablet-max) {
    width: 44px;
    height: 17px;
    padding-top: 20px;
    margin-left: 20px;
  }
}

.nav__menu {
  @include list-reset;
  display: flex;

  @media (max-width: $width-tablet-max) {
    // position: fixed;
    // display: block;
    flex-direction: column;
    width: 100%;
    height: 25vh;
    padding-top: 50px;
    background-color: $white;
  }
}

.nav__item {
  @media (max-width: $width-tablet-max) {
    background-color: $light-bg;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.nav__close {
  display: none;

  @media (max-width: $width-tablet-max) {
    display: block;
    position: absolute;
    background-color: transparent;
    border: none;
    top: 15px;
    right: 15px;
    z-index: 15;
  }
}

.nav__link {
  @include link-reset;

  color: $links;
  padding-left: 40px;
  font-size: 14px;
  font-weight: 500;

  &:hover {
    color: $accent;
  }

  @media (max-width: $width-tablet-max) {
    // display: none;
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 20px;
    line-height: 140%;
    font-weight: 600;
    width: 100%;
    padding: 17px 20px 17px 16px;
  }
}

.nav__contacts {
  @include link-reset;

  display: flex;
  padding-left: 53px;
  font-size: 18px;
  line-height: 32px;
  font-weight: 400;
  text-decoration: underline;
  color: $accent;

  @media (max-width: $width-tablet-max) {
    display: none;
  }
}

.nav__tel-icon {
  padding-right: 9px;
}

.nav__menu-button {
  display: none;

  @media (max-width: $width-tablet-max) {
    display: block;
    width: 72px;
    height: 50px;
    background-color: $accent;
    border: none;
    margin-right: -20px;
  }

  @media (max-width: $width-mobile-max) {
    width: 50px;
    margin-right: -12px;
  }
}

.nav__link-arrow {
  display: none;

  @media (max-width: $width-tablet-max) {
    display: block;
  }
}
