.prices {
  display: flex;
}

.prices__card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin-right: 30px;
  padding: 40px 30px;
  width: 370px;
  min-height: 672px;
  border-radius: 6px;
  border: 1px solid $primary-text-30;
}

.prices__card--promo {
  border: 3px solid $accent;
  border-radius: 6px;
}
