// Цвета
$primary-text: rgba(44, 46, 63, 0.7);
$white: #ffffff;
$accent: #fe7865;
// $icon-accent: #fe8978;
$accent-hover: #f17d4b;
$links: #141517;
$dark-headers: #2c2e3f;
$light-bg: #f8f8f8;


// Размеры
$width-desktop-max: 1210px;
$width-desktop: 1024px;
$width-tablet: 768px;
$width-mobile: 320px;
// $mobile-width-only: 767px;
// $tablet-width-only: 1149px;

// Разрешение
// $retina-dpi: 144dpi;
// $retina-dppx: 1.5dppx;

// Шрифты
$default-font: "Montserrat", "Arial", sans-serif;
