// Цвета
$primary-text: rgba(44, 46, 63, 0.7);
$white: #ffffff;


// Размеры
// $width-mobile: 320px;
// $width-tablet: 768px;
$width-desktop: 1170px;
// $mobile-width-only: 767px;
// $tablet-width-only: 1149px;

// Разрешение
// $retina-dpi: 144dpi;
// $retina-dppx: 1.5dppx;

// Шрифты
$default-font: "Montserrat", "Arial", sans-serif;
